# Backend
backend/keys/
backend/__pycache__/
backend/**/__pycache__/
backend/*.pyc
backend/.env
backend/.venv/

# Frontend
frontend/node_modules/
frontend/dist/

# Demo app
demo-app/node_modules/
demo-app/dist/

# IDE
.idea/

# General
.env
*.env.local
.DS_Store
